.tabBar {
  border-top: solid 1rem #EEE;
  background: #fff;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  position: fixed;
  top: 0;
  bottom: 49px;
  left: 0;
  right: 0;
  overflow: auto;
}